# Universidade do Estado do Amazonas - Microeconomia II
### Vinculação de produtos

Prof. Bruno de Melo Ruas

Simulação da situação onde temos n tipos de consumidores com preços de reservas diferentes e um monopolista que quer maximizar o seu lucro através da precificação da cesta de 2 bens.

Processos da simulação:
- [x] Gerar uma tabela com $n$ consumidores
- [x] Aleatoriamente atribuir um nivel de renda. $ renda_i = \{x\ |\ 0 \leq x \leq 100\} $
- [x] Aleatoriamente atribuir um preço de reserva para cada um dos dois produtos em cada consumidor. Será uma fração da sua renda.
- [ ] Praticar a precificação via preço de reserva mais baixo em cada produto.
- [ ] Praticar a precificação do preço de reserva mais baixo em cada cesta.
- [ ] Comparar os lucros.

In [12]:
# Modulos usados
import random
import numpy as np
import pandas as pd
import statistics as st
import matplotlib as mpl
import matplotlib.pyplot as plt

pd.options.mode.chained_assignment = None  # default='warn'

plt.style.use('dark_background')

In [17]:
# Criando o banco com os n consumidores

x = np.linspace(0,1000,1000)

data = pd.DataFrame()
data['x'] = x
data['p_res_1'] = [random.randrange(50,101,1) for i in range(0,1000)] # preco de reserva do bem 1
data['p_res_2'] = [random.randrange(50,101,1) for i in range(0,1000)] # preco de reserva do bem 2

In [19]:
# Lucro com estratégia de adoção do menor preço de reserva

monopolio = data
monopolio['p1'] = min(monopolio['p_res_1'])
monopolio['p2'] = min(monopolio['p_res_2'])
monopolio['ex1'] = monopolio['p_res_1'] - monopolio['p1']
monopolio['ex2'] = monopolio['p_res_2'] - monopolio['p2']
monopolio['lucro'] = monopolio['p1'] + monopolio['p2']
monopolio['ex'] = monopolio['ex1'] + monopolio['ex2']

lucro = sum(monopolio['lucro'])
excedente = sum(monopolio['lucro'],monopolio['ex'])

print('O total de lucro foi igual a {:.2f}')

In [90]:
monopolio['p_cesta'] = min(monopolio['p_res_1'] + monopolio['p_res_2'])
monopolio['excedente2'] = monopolio['renda'] - monopolio['p_cesta']

print('O excedente do produtor foi de {:.2f}. O que representa um total de {:.2f}% do excedente total.'.\
	format(sum(monopolio['excedente2']), 100*sum(monopolio['excedente2'])/sum(monopolio['renda'])))

O excedente do produtor foi de 48916.00. O que representa um total de 98.00% do excedente total.

In [9]:
monopolio

               x  p_res_1  p_res_2  p1  p2  lucro  ex1  ex2  ex
0       0.000000       54       69  50  50    100    4   19  23
1       1.001001       78       53  50  50    100   28    3  31
2       2.002002       72       87  50  50    100   22   37  59
3       3.003003       76       61  50  50    100   26   11  37
4       4.004004       70       53  50  50    100   20    3  23
..           ...      ...      ...  ..  ..    ...  ...  ...  ..
995   995.995996       59       60  50  50    100    9   10  19
996   996.996997       90       58  50  50    100   40    8  48
997   997.997998       99       56  50  50    100   49    6  55
998   998.998999       58       87  50  50    100    8   37  45
999  1000.000000       50       65  50  50    100    0   15  15

[1000 rows x 9 columns]